/*
Adapted from W3 Style Sheet templates and Class Demonstration
W3 Template Originally Created November 2018 by Jan Egil and Borge Refsnes
https://www.w3schools.com/w3css/4/w3.css
*/

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,font-small,summary{display:block}
audio,canvas,progress,video{display:inline-block}
progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}

a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.font-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{
  height:2px;
  background: grey;
  border:0;
  border-top:1px #c0c0c0;
}
div {
  float: center;
}

.image_format{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.font-title{font-size:24px;font-weight:bold;text-transform:uppercase;}

.style-hoverover tbody tr:hover,.style-ul.style-hoverover li:hover{background-color:#ccc}
.style-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.style-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.style-button:disabled{cursor:not-allowed;opacity:0.3}
.colour-button {background-color: #e7e7e7; color: black;}

.style-w3badge,.style-tags{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.style-w3badge{border-radius:50%}
.style-ul{list-style-type:none;padding:0;margin:0}.style-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.style-ul li:last-child{border-bottom:none}

.w3-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .style-button:first-child,.w3-dropdown-click:hover > .style-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.w3-check,.w3-radio{width:24px;height:24px;position:relative;top:6px}
.sidebar_navigateur{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.bar-block_navigateur .w3-dropdown-hover,.bar-block_navigateur .w3-dropdown-click{width:100%}
.bar-block_navigateur .w3-dropdown-hover .w3-dropdown-content,.bar-block_navigateur .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.bar-block_navigateur .w3-dropdown-hover .style-button,.bar-block_navigateur .w3-dropdown-click .style-button{width:100%;text-align:left;padding:8px 16px}
.style-margin,#main{transition:margin-left .4s}

.bar_section{width:100%;overflow:hidden}.align-center .bar_section{display:inline-block;width:auto}
.bar_section .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar_section .w3-dropdown-hover,.bar_section .w3-dropdown-click{position:static;float:left}
.bar_section .style-button{white-space:normal}
.bar-block_navigateur .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bar-block_navigateur.align-center .bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-responsive{display:block;overflow-x:auto}
.section_container:after,.section_container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.spacing-between-row:after,.spacing-between-row:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.bar_section:before,.bar_section:after{content:"";display:table;clear:both}
.onethird,.section{float:center;width:100%}

@media (min-width:601px){.w3-col.m1{width:8.33333%}
.section{width:24.99999%}.onethird{width:33.33333%}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-rest{overflow:hidden}.w3-stretch{margin-left:-16px;margin-right:-16px}
.style-content{margin-left:auto;margin-right:auto}.style-content{max-width:980px}
@media (max-width:1205px){.w3-auto{max-width:95%}}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.bar-item{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .style-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .style-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.sidebar_navigateur.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.sidebar_navigateur{display:none}.w3-main{margin-left:0!important;margin-right:0!important}}
.pagetop{position:fixed;width:100%;z-index:1;top:0}


.additional-margin-top {margin-top:120px}
.spacing-between-row,.onethird,.section{padding:0 8px}
.section_container{padding:0.01em 16px}
.card_navigateur{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.block-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.movement-l{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.font-small{font-size:12px!important}.font-large{font-size:18px!important}

.align-center{text-align:center!important}
.style-addborder{border:1px solid #ccc!important}

.style-leftmargin{margin-left:16px!important}
.style-rightmargin{margin-right:16px!important}
.style-padding-relative{padding:8px 16px!important}
.style-padding{padding-top:16px!important;padding-bottom:16px!important}
.style-padding-large{padding-top:32px!important;padding-bottom:32px!important}
.leftfloat{float:left!important}
.rightfloat{float:right!important}

.style-button:hover{color:#000!important;background-color:#ccc!important}
.style-white{color:#000!important;background-color:#fff!important}
.hover-black:hover{color:#fff!important;background-color:#000!important}
.style-grey{color:#000!important;background-color:#9e9e9e!important}
.style-dark-grey{color:#fff!important;background-color:#616161!important}

.swipe-space{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.swipe-element,.swipe-element1,.swipe-element2,.swipe-element3 {display: block; width: 100%; height:auto;}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: inherit;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {right: 0; border-radius: 3px 0 0 3px;}
.prev {left: 0; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}

.dot,.dot1,.dot2,.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover , .dot1:hover, .dot2:hover,.dot3:hover{
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
