html {
	height: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font: normal .78em arial, sans-serif;
	background: #444;
	color: #555;
}

p {
	padding: 0 0 16px 0;
	line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #111;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

h2 {
	color: #777;
}

h4, h5, h6 {
	margin: 0;
	padding: 0 0 5px 0;
	font: normal 120% arial, sans-serif;
	color: #555;
}

h5, h6 {
	padding: 0 0 15px 0;
	font: italic 95% arial, sans-serif;
	color: #000;
}

h6 {
	color: #888;
}
